<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
    <title>Image Gallery</title>
</head>
<body style="background-color: black;">
    <div class="gallery" id="imageGallery">
        <img src="Images/biceps-exercises-dumbbell-home.jpeg" alt="" data-href="first.html">
        <img src="Images/download.jpg" alt="" data-href="first.html">
        <img src="Images/images (1).jpg" alt="" data-href="first.html">
        <img src="Images/images.jpg" alt="" data-href="first.html">
    </div>

    <script src="script.js"></script>
</body>
</html>

