<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
    <title>Image Gallery</title>
</head>
<body style="background-color: black;">
    
    <!-- Selection Panel -->
    <div class="gallery" id="imageGallery">
        <div class="title-name">
            <img src="Images/biceps-exercises-dumbbell-home.jpeg" alt="" data-href="first.html">
            <p class="image-text">Biceps Exercise</p>
        </div>
        <div class="title-name">
            <img src="Images/download.jpg" alt="" data-href="first.html">
            <p class="image-text">Biceps Exercise</p>
        </div>
        <div class="title-name">
            <img src="Images/images (1).jpg" alt="" data-href="first.html">
            <p class="image-text">Biceps Exercise</p>
        </div>
        <div class="title-name">
            <img src="Images/images.jpg" alt="" data-href="first.html">
            <p class="image-text">Biceps Exercise</p>
        </div>
    </div>

    <script src="script.js"></script>
</body>
</html>

