body {
    font-family: sans-serif;
    margin: 0;
    padding: 0;
  }
  
  .container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
  }
  
  h1 {
    color: white;
    font-size: 3rem;
    margin-bottom: 2rem;
  }
  
  .forms {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  
  .login-form,
  .signup-form {
    width: 300px;
  }